*,  *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  min-height: 2416px;
  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

a:active {
  color: #ffbc9e;
}

a:hover {
  color: #ffbc9e;
}

.visually-hidden {
  visibility: hidden;
}

.header {
  display: flex;
  flex-direction: column;

  width: 1148px;

  margin-left: 26px;
  margin-right: 26px;
}

.main-header {
  margin-bottom: 430px;
}

.catalog-header {
  margin-bottom: 16px;
}

.main-navigation-wrap {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}

.inner-navigation-wrap {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  list-style: none;

  width: 530px;
  margin: 0;
  padding: 0;
}

.user-block {
  list-style: none;

  width: 267px;
  margin: 0;
  padding: 0;
}

.navigation-point {
  line-height: 18px;
  font-weight: 700;
}

.navigation-point:hover {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;
}

.navigation-point:visited {
  color: #ffffff;
  text-decoration: none;

  background-color: #d07058;
}

.sub-menu {
  list-style: none;
}

.sub-point {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
}

.sub-menu li:first-child {
  font-weight: 700;
}

.sub-point:hover {
  background-color: #fbded7
}

.sub-point:active {
  background-color: #f6b5a5
}

.search-form {
  background-color: #f8f7f4;
}

.search-form input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-link svg:hover {
  background-color: #f8f7f4;
}

.search-link svg:hover .loupe {
  fill: #000000;
}

.login-link {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.login-link:hover {
  background-color: #f8f7f4;
}

.login-link:hover {
  color: #323232;
}

.login-link:hover .enter {
  fill: #000000;
}

.login-form {
  background-color: #f8f7f4;
}

.login-form input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.login-help {
  list-style: none;
}

.login-help a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.login-help a:hover {
  color: #e84d37;
}

.login-help a:active {
  color: #e84d37;
}

.basket {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
}

.basket-link > a {
  font-size: 14px;
  line-height: 16px;
}

.full-basket-link {
  color: #323232;
  background-color: #f7f6f3;
  text-decoration: none;
}

.basket-price {
  color: #999999;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.contacts-flex {
  align-self: flex-end;

  width: 200px;
}

.container {
  display: flex;
  flex-direction: column;

  margin: 0px 26px;

  width: 1148px;
}

.contacts {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.contacts-telephone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.slider {
  margin-bottom: 40px;
}

.slider b {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
  text-align: center;
}

.main-button {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.advertising{
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.advertising h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.advertising p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.advertising-raspberry {
  width: 560px;
  margin: 0;

  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat;
}

.advertising-chocolate {
  width: 560px;
  margin: 0;

  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
}

.popular-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.popular-list li {
  width: 267px;
  margin: 0;
}

.price {
  font-size: 45px;
  line-height: 45px;
}

.price span {
  font-size: 30px;
}

.advantages {
  margin-bottom: 40px;

  color: #323232;
  background-image: url("../img/waffle-background.jpg");
}

.advantages b {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.advantages-list {
  list-style: none;
}

.advantages li {
  font-weight: 400;
}

.miscelanneous {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.blog {
  width: 560px;

  color: #323232;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
}

.blog h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

.mailout {
  width: 560px;

  color: #5a5a5a;

  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
}

.mailout-email {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;

  background-color: #fffefd;
}

.address span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.address b {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.feedback {
  background-color: #f8f7f4;
}

.feedback span {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback input {
  line-height: 24px;
  color: #999999;
}

.breadcrumbs {
  list-style: none;
  width: 267px;

  margin: 0;
  padding: 0;
}

.breadcrumbs li:not(:last-child)::after {
  content: ">>";
}
.parameters {
  margin-bottom: 40px;
}

.parameters-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 879px;
}

.parameters-flex1 {
  display: flex;

  width: 879px;
}

.parameters-flex2 {
  display: flex;

  width: 879px;
}

.parameters h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.parameters label {
  font-size: 14px;
  line-height: 16px;
}

.parameters legend {
  font-size: 14px;
  line-height: 16px;
}

.sorting {
  width: 193px;
}

.sorting option {
  line-height: 18px;
}

.param-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 7px 15px;

  list-style: none;
}

.param-radio label {
  line-height: 18px;
}

.param-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 700px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  list-style: none;
}

.param-checkbox li {
  width: 186px;
}

.param-checkbox label {
  line-height: 18px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin:0;
  padding:0;

  list-style: none;
}

.catalog-list li{
  width: 267px;
}

.catalog-list li:hover .fast-view {
  display: block;
}

.fast-view{
  display: none;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-selected {
  color: #353535;

  background-color: #ffffff;
}

.pagination-item {
  line-height: 18px;
  text-decoration: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;

  width: 1148px;

  margin-top: 20px;
  margin-bottom: 26px;
  margin-left: 26px;
  margin-right: 26px;
}

.footer-social {
  display: flex;

  list-style: none;

  width: 267px;
  margin: 0;
  padding: 0;
}

.footer-social li{
  margin-right: 12px;
}


.footer-info {
  list-style: none;

  width: 560px;
}

.footer-copyright {
  width: 267px;
}

.button {
  color: #ffffff;
  text-decoration: none;

  background-color: #f06341
}

button:hover {
  color: #ffffff;
  text-decoration: none;

  background-color: #f38167;
}

button:active {
  color: #ffffff;
  text-decoration: none;

  background-color: #d94d35;
}

.catalog-list li:hover {
  background-color: #9bafa3;
}

.sorting {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  background-color: #a9bab0;
}

/*временное скрытие выпадающих форм*/
.sub-menu,
.search,
.login,
.basket,
.feedback,
.slider-1,
.slider-2,
.slider-3 {
display: none;
}


