*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  min-height: 2416px;
  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

a:active {
  color: #ffbc9e;
}

a:hover {
  color: #ffbc9e;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.slider {
  position: relative;

  padding-top: 155px;
  margin-bottom: 40px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slider-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
  text-align: center;

  padding-left: 240px;

  width: 910px;

  margin-bottom: 27px;
}

.button {
  display: inline-block;
  padding-top: 16px;
  padding-right: 25px;
  padding-bottom: 13px;
  padding-left: 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;

  padding-top: 14px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}

.header {
  display: flex;
  flex-direction: column;

  width: 1200px;
  margin: 0 auto;
  padding: 0 26px;
}

.main-header-logo {
  margin-top: 8px;
}

.catalog-header {
  margin-bottom: 16px;
}

.main-navigation-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  justify-content: space-between;

  width: 558px;
}

.main-navigation > a {
  width: 154px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 382px;
  margin-top: 23px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  list-style: none;
}

.user-block {
  display: flex;
  justify-content: space-between;

  width: 262px;
  margin-top: 23px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  list-style: none;
}

.user-block a {
  font-size: 14px;

  vertical-align: middle;
  text-decoration: none;
  background-color: #9db1a5;
  border-radius: 16px;
}

.user-block a:hover:not(.basket-link),
.user-block a:focus:not(.basket-link) {
  color: #323232;
  background-color: #ffffff;
}

.navigation-point {
  padding-top: 6px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;

  border-radius: 16px;

  line-height: 18px;
  font-weight: 700;
}

.navigation-point:hover,
.navigation-point:focus {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;
}

.point-selected {
  text-decoration: none;
  background-color: #d07058;
}

.sub-menu {
  list-style: none;
}

.sub-point {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
}

.sub-menu li:first-child {
  font-weight: 700;
}

.sub-point:hover {
  background-color: #fbded7
}

.sub-point:active {
  background-color: #f6b5a5
}

.search-link {
  padding: 8px;
}

.search-form {
  background-color: #f8f7f4;
}

.search-form input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.login-link {
  padding: 8px 16px;
}

.search-link:hover .loupe {
  fill: #000000;
}

.login-link:hover .enter {
  fill: #000000;
}

.login-form {
  background-color: #f8f7f4;
}

.login-form input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.login-help {
  list-style: none;
}

.login-help a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.login-help a:hover {
  color: #e84d37;
}

.login-help a:active {
  color: #e84d37;
}

.basket-link {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  padding-top: 6px;
  padding-right: 35px;
  padding-bottom: 6px;
  padding-left: 16px;
}

.basket-link:hover {
  color: #ffffff;
}

.full-basket-link {
  padding-right: 18px;
  color: #323232;
  background-color: #f7f6f3;
  text-decoration: none;
}

.basket-link:hover {
  color: #323232;
}

.basket-price {
  color: #999999;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.contacts-flex {
  align-self: flex-end;

  width: 165px;
}

.container {
  display: flex;
  flex-direction: column;

  width: 1200px;
  margin: 0 auto;
  padding: 0 26px;
}

.contacts {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.contacts-telephone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.main-button {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.advertising {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.advertising h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.advertising p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  margin: 0;
  margin-bottom: auto;
  padding: 0;
}

.advertising .button {
  align-self: flex-end;
}

.advertising-raspberry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 560px;
  min-height: 230px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 22px;

  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat;
  border-radius: 17px;
}

.advertising-chocolate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 560px;
  min-height: 230px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 22px;

  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
  border-radius: 17px;
}

.popular-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.popular-list li {
  width: 267px;
  margin: 0;
}

.popular-list h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.hit {
  position: absolute;
}

.price {
  font-size: 45px;
  line-height: 45px;

  margin-top: -60px;
}

.price span {
  font-size: 30px;
}

.advantages {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 40px;
  padding-top: 34px;
  padding-bottom: 27px;
  padding-left: 22px;
  padding-right: 34px;
  width: 1146px;

  color: #323232;
  background-image: url("../img/waffle-background.jpg");
  border-radius: 15px;
}

.advantages b {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  margin-bottom: 13px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages li {
  font-weight: 400;

  width: 540px;
}

.miscelanneous {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 220px;
  width: 560px;
  padding-top: 28px;
  padding-bottom: 72px;
  padding-left: 20px;
  padding-right: 250px;

  border-radius: 15px;

  color: #323232;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
}

.blog h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  margin: 0;
}

.blog p {
  margin: 0;
}

.blog a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

.mailout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 560px;
  min-height: 220px;
  padding: 27px 20px;

  color: #5a5a5a;

  background-image: linear-gradient(#f8f7f4 0%, #f8f7f4 100%),
  repeating-linear-gradient(-45deg, #92cdff 0px, #92cdff 5px, #f8f7f4 5px, #f8f7f4 10px, #fe9e90 10px, #fe9e90 15px, #f8f7f4 15px, #f8f7f4 20px);

  background-clip: padding-box, border-box;
  border: 6px solid transparent;
  border-radius: 12px;
}

.mailout p {
  margin: 0;
}

.mailout-form {
  display: flex;
  justify-content: space-between;

  width: 510px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}

.mailout-email {
  width: 368px;
  margin-right: 11px;
  padding-top: 15px;
  padding-bottom: 15px;

  border-radius: 10px;
}

.mailout .button {
  padding-right: 14px;
  padding-left: 14px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 60px;
  right: 25px;

  width: 305px;
  min-height: 305px;
  padding-top: 33px;
  padding-bottom: 30px;
  padding-right: 35px;
  padding-left: 26px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;

  background-color: #fffefd;

  border-radius: 10px;
}

.address p {
  margin: 0;
}

.address span {

  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  margin-bottom: 24px;
}

.address b {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.feedback-button {
  padding-left: 30px;
  padding-right: 30px;
}

.address a {
  width: 262px;
}

.feedback {
  background-color: #f8f7f4;
}

.feedback span {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback input {
  line-height: 24px;
  color: #999999;
}

.breadcrumbs {
  display: flex;

  width: 267px;
  margin-top: -60px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li:not(:last-child)::after {
  content: ">>";
}

.parameters {
  margin-bottom: 40px;
}

.parameters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 878px;
}

.parameters-fieldset {
  position: relative;
  margin: 22px 7.5px 38px;
  padding: 0px 12px 0px;

  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  border-radius: 18px;
}

.parameters-form legend {
  position: absolute;
  top: -22px;
  left: 16px;
  font-size: 14px;
  line-height: 16px;
}

.parameters-form input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.parameters-form label {
  position: relative;
  display: inline-block;
  padding: 8px 0;
  vertical-align: baseline;
  cursor: pointer;
}

.sorting select:focus,
.sorting select:hover,
.parameters-form label:focus,
.parameters-form label:hover {
  color: #323232;
}

.slider-range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 196px;
}

.parameters h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.parameters-fieldset > label,
.slider-range > label {
  font-size: 14px;
  line-height: 16px;
}

.sorting {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  width: 195px;
  margin-left: 0;
}

.sorting select {
  line-height: 18px;
  color: #ffffff;
  background-color: #a9b9af;

  padding: 8px 0;

  cursor: pointer;
}

.fatcontent {
  display: flex;

  width: 422px;
}

.fatcontent label {
  margin-top: 2px;
}

.parameters-form input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: -2px;
  margin-right: 9px;
  padding: 4px;
  vertical-align: middle;
  background-clip: content-box;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.parameters-form input[type="radio"]:checked + label::before {
  background-color: #ffffff;
}

.parameters-form input[type="checkbox"] + label:not(:last-child) {
  margin-right: 16px;
}

.parameters-form input[type="checkbox"] + label::before {
  content: url("../img/checkbox-off.svg");
  display: inline-block;
  width: 24px;
  height: 20px;
  margin: -2px 6px 0 3px;
  vertical-align: middle;
}

.parameters-form input[type="checkbox"]:checked + label::before {
  content: url("../img/checkbox-on.svg");
}

.fillers {
  margin: 0;
}

.param-radio {
  display: flex;
  justify-content: space-between;
  list-style: none;

  margin: 0;
  padding: 0;
  padding-left: 13px;
  padding-right: 18px;
}

.param-checkbox {
  display: flex;
  justify-content: space-between;
  list-style: none;

  padding-left: 16px;
  padding-right: 20px;
  margin: 0;

  width: 670px;
}

.radio-wrap {
  margin: 0;
  padding: 0;
}

.checkbox-wrap {
  margin: 0;
  padding: 0;
}

.button-param {
  font-size: 16px;
  line-height: 18px;
  color: inherit;

  padding: 9px 30px;
  margin: 0;
  margin-right: 8px;

  vertical-align: baseline;
  background-color: rgba(248, 247, 244, 0.2);
  border: 3px solid white;
  border-radius: 18px;
}

.button-param:focus,
.button-param:hover {
  color: #323232;
  background-color: #ffffff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list li {
  position: relative;

  width: 267px;
}

.catalog-list h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.catalog-list li:hover .fast-view {
  display: block;
}

.fast-view {

  display: none;
}

.location {
  position: relative;
}

.pin {
  position: absolute;
  left: 255px;
  top: 125px;
}

.map {
  min-width: 1200px;
  margin-left: -26px;
  margin-right: auto;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  line-height: 18px;
  list-style: none;

  padding: 0;
  padding-bottom: 30px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page-selected,
.pagination-item:active {
  color: #353535;
  background-color: #ffffff;
}

.pagination-item {
  display: block;
  min-width: 25px;
  min-height: 25px;
  margin: auto 1.6px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.pagination-item:hover,
.pagination-item:focus {
  color: #ffffff;
  background-color: rgba(248, 247, 244, 0.2);
}

.main-footer {
  display: flex;
  justify-content: space-between;

  width: 1200px;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0 26px;
}

.footer-social {
  display: flex;

  list-style: none;

  width: 190px;
  margin: 0;
  margin-top: 17px;
  padding: 0;
}

.social-link {
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 12px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-link:focus,
.social-link:hover,
.social-link:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.footer-info {
  display: flex;
  flex-wrap: wrap;

  position: relative;

  list-style: none;

  width: 307px;
  margin: 0;
  margin-top: 17px;
  padding: 0;
}

.footer-info li {
  padding: 0;

  font-size: 13px;
  line-height: 18px
}

.footer-info::before {
  content: url("../img/heart.svg");
  position: absolute;
  top: 0px;
  left: -19px;
  width: 15px;
  height: 13px;
}

.footer-info li:first-child {
  font-weight: 700;
}

.footer-info li:nth-child(n) {
  flex-basis: 140px;
}

.footer-info li:nth-child(2n) {
  flex-basis: 167px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;

  width: 190px;
  margin: 0;
}

.htmlacademy-wrapper {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright img {
  margin-bottom: 7px;
}

.htmlacademy {
  text-decoration: none;
}

.catalog-list li:hover {
  background-color: #9bafa3;
}

/*временное скрытие выпадающих форм*/
.sub-menu,
.search,
.login,
.basket,
.feedback {
  display: none;
}


